@{
    ViewBag.Title = "Privacy Policy - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="privacy-policy" class="container">
    @Html.Partial("_ParagraphPrivacyPolicy")
</section>
@Html.Partial("_ScriptsPrivacyPolicy")