<div class="span6">
    <h2>Proin tortor tellus</h2>
    <p>Mauris sapien purus, commodo at augue id, ornare venenatis risus. Sed et nibh sit amet quam facilisis sodales. Suspendisse consequat pellentesque suscipit. In vel scelerisque velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean a lorem posuere tortor fermentum bibendum sed ut elit. Praesent suscipit, metus sit amet rhoncus dignissim, nisl ipsum vestibulum sem, ut rutrum lacus felis porttitor velit. Suspendisse elementum, leo vitae maximus feugiat, libero arcu fermentum eros, ut tincidunt mi felis at ipsum. Fusce cursus, lacus ac pellentesque mollis, leo massa iaculis sem, ut egestas velit eros id sapien. Vestibulum ultrices convallis dapibus. Suspendisse libero tellus, interdum eu sodales ac.</p>
</div>
