<div class="span6">
    <h2>Nunc vestibulum</h2>
    <div>
        <div class="progress"><div class="bar" style="width: 80%; text-align:left; padding-left:10px;">Suspendisse</div></div>
        <div class="progress progress-warning"><div class="bar" style="width: 70%; text-align:left; padding-left:10px;">Nulla tempor</div></div>
        <div class="progress progress-info"><div class="bar" style="width: 60%; text-align:left; padding-left:10px;">Vivamus</div></div>
        <div class="progress progress-danger"><div class="bar" style="width: 90%; text-align:left; padding-left:10px;">Pellentesque</div></div>
    </div>
</div>
