
@{
    ViewBag.Title = "DisplayError404";
}

<section id="error" class="container">
    @Html.Partial("_HeaderError404")
    @Html.Partial("_ParagraphError404")
    @Html.Partial("_RedirectButtonError404")
</section>
@Html.Partial("_ScriptsError404")