<div class="span4">
    <div class="center">
        <i style="font-size: 48px" class="icon-facetime-video icon-large"></i>
        <p> </p>
        <h4>Nunc Ante Magna</h4>
        <p>Duis non tincidunt ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sit amet dui turpis. Sed luctus, leo ac ornare vulputate, metus neque feugiat massa, a porttitor est sem at metus. Nunc ante magna, aliquet vel tincidunt ut, feugiat id lorem.</p>
    </div>
</div>