<div class="span4">
    <div class="center">
        <i style="font-size: 48px" class="icon-food icon-large"></i>
        <p> </p>
        <h4>Duis Rhoncus Felis Dui</h4>
        <p>Praesent viverra vulputate augue, hendrerit volutpat nisi tempus id. Duis vitae laoreet lacus. Vivamus semper nisi sem, accumsan tristique felis facilisis non. Vivamus egestas lacus sed bibendum aliquam. Vivamus imperdiet risus eget lacinia rhoncus. Duis rhoncus felis dui. Interdum et malesuada fames.</p>
    </div>
</div>