<div class="span4">
    <div class="center">
        <i style="font-size: 48px" class="icon-gamepad icon-large"></i>
        <p> </p>
        <h4>Nunc Varius Nisi</h4>
        <p>Cras ac felis vehicula, mattis diam eu, placerat ex. Donec mauris ante, feugiat in massa et, rhoncus iaculis tellus. Nunc varius nisi et risus blandit placerat. Cras ac aliquet elit, vitae faucibus mi. Donec pharetra nulla eget luctus tristique. In hac habitasse platea dictumst. Donec posuere diam turpis.</p>
    </div>
</div>
