<div class="span4">
    <div class="center">
        <i style="font-size: 48px" class="icon-magic icon-large"></i>
        <p> </p>
        <h4>Vestibulum Ultrices</h4>
        <p>Nulla in metus vitae neque venenatis pharetra nec eu velit. Proin elit nulla, iaculis a tortor at, gravida ultricies orci. Vestibulum ultrices nunc eget scelerisque tincidunt. Integer pulvinar iaculis est eget dapibus, at dignissim ipsum fermentum. Mauris eu iaculis lacus. Etiam nec congue lectus. </p>
    </div>
</div>
