<div class="span4">
    <div class="center">
        <i style="font-size: 48px" class="icon-shopping-cart icon-large"></i>
        <p> </p>
        <h4>Mauris Arcu Tellus</h4>
        <p>Donec nec massa ornare, volutpat diam eu, eleifend lorem. Cras laoreet nulla elit, quis bibendum lectus lacinia sit amet. Praesent nec quam nunc. Mauris arcu tellus, aliquet non rhoncus non, ornare id dui. Sed ac porta ante, id aliquam lectus. Proin malesuada eu arcu at tempor. Nulla a tellus lorem.</p>
    </div>
</div>
