<li>
    <div class="preview">
        <img alt=" " src="images/portfolio/thumb/item6.jpg">
        <div class="overlay">
        </div>
        <div class="links">
            <a data-toggle="modal" href="#modal-6"><i class="icon-eye-open"></i></a><a href="#"><i class="icon-link"></i></a>
        </div>
    </div>
    <div class="desc text-center">
        <h5>Lorem ipsum dolor sit amet</h5>
        <small>Portfolio item short description</small>
    </div>
    <div id="modal-6" class="modal hide fade">
        <a class="close-modal" href="javascript:;" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></a>
        <div class="modal-body">
            <img src="images/portfolio/full/item6.jpg" alt=" " width="100%" style="max-height:400px">
        </div>
    </div>
</li>
